/* color palette */

:root {
    --bg-color-1: #ffffff;
    --bg-color-2: #111111;
    --bg-color-3: #5E5E5E;
    --accent: #333333;
    --protfolioitembackground: #92AA83;
    --sectionbackground: #f1f7ee;
}



/* css reset */

* {
    margin: 0;
    *padding: 0;
}

/*respect user font size preferences*/
html {
    font-size: 100%;
}

/*general styles*/

body {

    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    color: var(--bg-color-2);
    background-color: var(--bg-color-1);
}
@media (max-width: 700px) {
    body {
        font-size: 1.1rem;
    }
}

header {
    background-color: var(--bg-color-1);
    background-image: url("css-images/Barn-owl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6rem;
    margin-bottom: 3rem;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid #000000;
    /*text-align: center;*/
}

header h1 {
    font-size: 3rem;
    color: var(--sectionbackground);
    text-decoration: underline;
    text-decoration-style: solid;
    ;
    font-family: Impact, Haettenschweiler, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Bold
}


nav {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

nav a {
    color: var(--protfolioitembackground);
    display: inline-block;
    margin: 3rem;
    text-decoration: none;
    transition: all 0.5s ease;
}

nav a:hover {
    background-color: var(--accent);
    transform: scale(1.3);
}

main {
    max-width: 80rem;
    margin: 5% auto;
    padding: 0% 1rem;
}
@media (max-width: 600px) {
    main {
        padding: 0% 0.5rem;
    }
}

.about-section,
.portfolio-section,
.content-section {
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: var(--sectionbackground);
}

.about-content h2,
.portfolio-content h2,
.content-content h2 {
    padding: 2rem 0;
}


.about-content,
.portfolio-content,
.content-content {
    max-width: 60rem;
    margin: 0 auto;
    padding: 2rem 0;
    font-family: 'Nunito', sans-serif;
}

.portfolio-item {
    margin-bottom: 5rem;
    background-color: var(--protfolioitembackground);
    padding: 10rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 20px 10px;
}

.portfolio-item img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: 1rem;
}

.portfolio-item h3 {
    margin-top: 1rem;
}

.portfolio-item p {
    margin-top: 1.2rem;
}

.about-content,
.portfolio-content,
.content-content {
    max-width: 60rem;
    margin: 0 auto;
}


footer {
    background-color: var(--protfolioitembackground);
    color: #949494;
    text-align: end;
    padding: 1rem;
}

footer p {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    color: var(--bg-color-1);
}

.accent-1 {
    color: var(--protfolioitembackground)
}

.nunito-blod{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}