/*
CSS RESETS
*/


/* Change box-sizing default to border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Remove default spacing */
* {
  margin: 0;
  padding: 0;
}


/* Respect user font settings */
html {
  font-size: 100%;
}


/* Make images responsive */
img {
  max-width: 100%;
  display: block;
}
/*clolor variables*/

:root {
    --bg:#eee;
    --font:#222
}

body.dark {
    --bg:#222;
    --font:#44e62
}




/*general css*/


body {
    background-color: var(--bg);
    color: var(--font);
    
}




header {
    padding: 5rem;
}

main {
    max-width: 60rem;
margin: 0 auto;

}

