/* css reset */

* {
    margin: 0;
    *padding: 0;
}

/*respect user font size preferences*/
html {
    font-size: 100%;
}

/*general styles*/

body {

    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    line-height: 1.5;
}

header {
    background-color: #4d4d4d;
    background-image: url("css-images/Barn-owl.jpg");
    background-color: #636363;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6rem;
    margin-bottom: 3rem;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid #000000;
    /*text-align: center;*/
}

header h1 {
    font-size: 10rem;
    color: #949494;

}


nav {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

nav a {
    color: #000000;
    display: inline-block;
    margin: 3rem;
    text-decoration: none;
}



main {
    max-width: 80rem;
    margin: 5% auto;
    padding: 0% 1rem;

}

.about-section,
.portfolio-section,
.content-section {
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: #888888;
}

.about-content h2,
.portfolio-content h2,
.content-content h2 {
    padding: 2rem 0;
}


.about-content,
.portfolio-content,
.content-content {
    max-width: 60rem;
    margin: 0 auto;
    padding: 2rem 0;
}

.portfolio-item {
    margin-bottom: 5rem;
    background-color: #282828;
    padding: 10rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 20px 10px;
}

.portfolio-item img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: 1rem;
}

.portfolio-item h3 {
    margin-top: 1rem;
}

.portfolio-item p {
    margin-top: 1.2rem;
}

.about-content,
.portfolio-content,
.content-content {
    max-width: 60rem;
    margin: 0 auto;
}


footer {
    background-color: #4d4d4d;
    color: #949494;
    text-align: end;
    padding: 1rem;
}

footer p {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}