body {
     animation: change-color 3s infinite alternate;
}

@keyframes change-color {
    0% {
        background-color: antiquewhite;
    }
    50% {
        background-color: rgb(121, 194, 36);
    }
     100% {
        background-color: aquamarine;
    }

}


.title {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 80px  auto;
    animation: skew 3s infinite alternate;
}
@keyframes skew {
    0% {
        transform: skew(0deg);
    }
    50% {
        transform: skew(20deg);
    }
     100% {
        transform: skew(0deg);
    }

}

.square {
    background-color: orangered;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin: 50px auto;
    transition: background-color 1s;
    animation: move 3s infinite alternate;
}
@keyframes move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(100px);
    }
     100% {
        transform: translateX(0);
    }

}

.square:hover {
    background-color: greenyellow;
    transform: rotate(30deg);
}

.button-div {
    text-align: center;
}

.button {
    background-color: green;
    color: white;
    padding: 15px;
    margin: 50px auto;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: all;
}

.button:hover {
    background-color: purple;
    transform: scale(1.5);
    color: black;
}