


.title {
    font-family: 'Courier New', Courier, monospace;
}
.square {
    background-color: orangered;
    width: 100px;
    height: 100px;
border-radius: 20px;
margin: 50px auto;
transition: background-color 1s;
transition: transform 1s;
}
.square:hover {
    background-color: greenyellow;
 transform: rotate(30deg);
}
.button-div{
    text-align: center;
}
.button{
    background-color: green;
    color: white;
    padding: 15px;
    margin:  50px auto;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: all 1s;
transition: transform 3s;

}
.button:hover{
    background-color: purple;
    transform: scale(1.5);
color: black;
}

    